.navbar-wrapper .navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 9;
  transition: all 0.3s ease;
}

.navbar .container {
  transition: 0.3s ease-in-out;
  padding: 0;
}

.navbar.bg-active {
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.navbar.bg-active .navbar-brand,
.navbar.bg-active .navbar-nav a {
  color: #000;
}

.navbar-wrapper .navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.navbar-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 8px;
  position: relative;
}

.navbar-nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ec6e31;
  border-radius: 50px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover::after {
  width: 100%;
}

/* MODAL */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-product {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  max-width: 600px;
  width: 100%;
  height: 550px;
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  animation-name: slideIn;
  animation-duration: 0.4s;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideIn {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

/* a.carousel-control-next,
a.carousel-control-prev {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.modal-image .carousel-indicators {
  margin: 0;
} */

.modal-image .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120%;
}

.modal-product .modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-image .main-img {
  max-width: 400px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: contain;
}

.modal-image .img-detail {
  max-width: 450px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-image .swiper-button-prev {
  left: 0;
  justify-content: start;
}

.modal-image .swiper-button-next {
  right: 0;
  justify-content: end;
}

.modal-image .swiper-button-prev::after,
.modal-image .swiper-button-next::after {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ec6e31;
}

.swiper-pagination {
  height: 15px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background: #ec6e31;
}

.modal-product .modal-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  padding: 12px 10px;
  position: relative;
  background: bisque;
  border-radius: 15px;
}

.modal-body h3 {
  font-size: 4vh;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.modal-body p {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  background: #ec6e31;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0;
}

.modal-body span {
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-body .btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn-modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  background: #ec6e31;
  color: #fff;
}

.closeBtn {
  position: absolute;
  top: 2%;
  right: 7%;
  z-index: 5;
}

.closeBtn svg {
  display: flex;
  justify-content: end;
  align-items: end;
  position: fixed;
  width: 32px;
  height: 32px;
  color: salmon;
}

/* FAQ SECTION */
.faq {
  min-height: 80vh;
  width: 100%;
  padding: 50px 0;
}

.faq-title h1 {
  font-weight: 600;
}

.accordion .accordion-body {
  font-size: 15px;
  line-height: 30px;
}

/* Subscribe Section */
.wrapper #subscribe {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.subscribe-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#subscribe .subscribe-content h1 {
  font-weight: 800;
  color: #fff;
  width: 70%;
  margin-bottom: 15px;
}

#subscribe .subscribe-content p {
  font-size: 15px;
  color: #bebebe;
  line-height: 25px;
  width: 65%;
  margin-bottom: 15px;
}

#subscribe .subscribe-content button {
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#subscribe .subscribe-content button:hover {
  color: #fff;
  background: #ec6e31;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  transition: all 0.2s ease-in-out;
}

/* FOOTER SECTION */
#footer {
  min-height: 55vh;
  width: 100%;
  padding: 30px 0px;
  display: flex;
  position: relative;
  background: #2b303a;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

#footer h4,
#footer h1 {
  color: #fff;
}

.cv-name p {
  width: 85%;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  color: #fff;
}

.address .icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.icon p {
  margin: 0;
  font-size: 14px;
  color: #bebebe;
}

.icon svg {
  width: 20px;
  height: 20px;
  color: #fff;
}

.links a {
  text-decoration: none;
  color: #bebebe;
  transition: 0.3s ease;
}

.links a:hover {
  color: #fff;
  font-weight: 600;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%);
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}

/* Responsive */

@media screen and (max-width: 992px) {
  .navbar-nav {
    background: #fff;
    width: 100%;
    padding: 40px 0 20px 0;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid #bebebe;
  }

  .navbar.bg-active .navbar-nav {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-bottom: none;
  }

  button.navbar-toggler {
    padding: 4px 8px;
    background: #fff;
    border-radius: 2px;
  }

  button.navbar-toggler:focus:not(:focus-visible) {
    color: transparent !important;
  }

  /* button.navbar-toggler {
      color: #fff;
    } */

  .navbar-nav a {
    color: #000;
    font-size: 1.5rem;
  }

  .modal-product {
    width: 90%;
    height: 500px;
  }

  .modal-image .main-img {
    width: 100%;
    height: 100%;
  }

  .modal-image .img-detail {
    max-width: 350px;
    width: 100%;
  }

  .modal-product .modal-body {
    height: 40%;
  }

  .modal-body .btn-modal {
    bottom: 0;
    right: 0;
  }

  #subscribe .subscribe-content h1 {
    font-size: 2.6rem;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-wrapper .navbar-brand {
    font-size: 1.8rem;
  }

  /* Modal */
  .modal-product {
    width: 80%;
    height: 480px;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-image .main-img {
    width: 100%;
    height: 270px;
  }

  .modal-image .img-detail {
    width: 100%;
  }

  .modal-product .modal-body {
    gap: 5px;
  }

  .modal-body .btn-modal {
    bottom: 1%;
    right: 0;
  }

  .closeBtn {
    right: 10%;
  }

  /* FAQ */

  .faq {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .accordion .accordion-button {
    font-size: 15px;
  }

  .accordion .accordion-body {
    font-size: 14px;
    line-height: 25px;
    padding: 15px;
  }

  /* Subscribe */

  #subscribe .subscribe-content h1 {
    font-size: 2.4rem;
    width: 100%;
  }

  #subscribe .subscribe-content p {
    width: 90%;
  }

  /* Footer */
  .cv-name p {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar-wrapper .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-wrapper .navbar {
    padding: 8px 20px;
  }

  button.navbar-toggler {
    font-size: 1rem;
  }

  /* Modal */
  .modal-product {
    width: 90%;
    height: 420px;
    gap: 0;
  }

  .modal-image .main-img {
    width: 100%;
    height: 220px;
  }

  .modal-image .img-detail {
    width: 100%;
  }

  .modal-product .modal-body {
    gap: 0;
  }

  .modal-body h3 {
    font-size: 1.4rem;
  }

  .modal-body p {
    font-size: 13px;
  }

  .modal-body .btn-modal {
    bottom: 0%;
  }

  .btn-modal button {
    padding: 8px 10px;
    font-size: 13px;
  }

  .closeBtn {
    top: 2%;
    right: 11%;
  }
  .closeBtn svg {
    width: 30px;
    height: 30px;
  }

  /* FAQ */
  .faq {
    padding: 25px 10px;
  }

  .accordion .accordion-button {
    font-size: 14px;
    padding: 15px;
  }

  .accordion .accordion-body {
    padding: 12px;
  }

  /* Footer */
  #footer {
    padding: 30px 10px;
  }

  .cv-name p {
    font-size: 14px;
    line-height: 25px;
    width: 100%;
  }

  .copyright p {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .navbar-wrapper .navbar {
    padding: 10px;
  }

  .navbar-nav {
    padding: 20px 0;
  }

  .navbar-nav a {
    font-size: 1.3rem;
  }

  button.navbar-toggler {
    font-size: 1rem;
  }

  /* Modal */
  .modal-product {
    width: 90%;
    height: 360px;
    padding: 8px;
  }

  .modal-image .swiper-button-prev::after,
  .modal-image .swiper-button-next::after {
    font-size: 15px;
  }

  .modal-image .main-img {
    height: 170px;
    width: 100%;
  }
  .modal-image .img-detail {
    width: 100%;
  }

  .modal-product .modal-body {
    gap: 5px;
    height: 40%;
    padding: 8px 10px;
    border-radius: 10px;
  }

  .modal-body h3 {
    font-size: 15px;
  }

  .modal-body p {
    font-size: 12px;
  }

  .btn-modal {
    margin-top: 0;
  }

  .btn-modal button {
    font-size: 10px;
    padding: 5px 10px;
    gap: 5px;
  }

  .closeBtn {
    top: 2%;
    right: 11%;
  }
  .closeBtn svg {
    width: 25px;
    height: 25px;
  }

  /* FAQ */

  .faq-title h1 {
    font-size: 1.5rem;
  }

  .accordion .accordion-button {
    font-size: 12px;
    padding: 12px 15px;
  }

  .accordion .accordion-body {
    font-size: 12px;
    line-height: 20px;
    padding: 12px 10px;
  }

  /* Subscribe */

  #subscribe .container {
    padding: 0;
  }

  #subscribe .subscribe-content h1 {
    font-size: 2rem;
    width: 100%;
  }

  #subscribe .subscribe-content p {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }

  #subscribe .subscribe-content button {
    font-size: 12px;
    padding: 10px 20px;
  }

  /* Footer */
  #footer,
  .wrapper #subscribe {
    padding: 30px 10px;
  }

  .cv-name p {
    font-size: 12px;
    line-height: 25px;
    width: 100%;
  }

  .address p {
    font-size: 12px;
  }

  .links a {
    font-size: 14px;
  }

  .copyright p {
    font-size: 12px;
  }
}
