.highlight {
  font-size: 1rem;
  border-left: 2px solid salmon;
  padding: 8px;
  color: #ec6e31;
  font-weight: 600;
  margin: 0;
}

/* Hero Section */

#hero {
  min-height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content h1 {
  font-size: 5.2vw;
  font-weight: 600;
  color: #f9f7f3;
  width: 55%;
  margin: 0;
  padding: 0;
}

.hero-content p {
  width: 55%;
  font-size: 1rem;
  font-weight: 400;
  color: #dedede;
  line-height: 30px;
  margin: 0;
}

.hero-content a:nth-child(1) {
  font-size: 14px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 50px;
  background: #ec6e31;
  color: #fff;
  border: 1px solid #ec6e31;
  transition: all 0.3s ease-in-out;
}

.hero-content a:nth-child(1):hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-content a:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.hero-content a:nth-child(2)::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ec6e31;
  border-radius: 50px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

.hero-content a:hover::after {
  width: 100%;
  margin: auto;
}


/* Contact */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  margin: auto;
}

#contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 25px;
  height: 100%;
  width: 75%;
  padding: 40px 40px;
  background: #fff;
  border-radius: 8px;
  margin-top: -130px;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}

.contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 30px;
  position: relative;
}

.contactWrapper svg {
  width: 40px;
  height: 40px;
}

.contactWrapper h6 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.contactWrapper p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

/* Services Section */
#service {
  min-height: 80vh;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  /* background: #f8f8ff; */
  /* background: #fff7f6; */
}

.serviceTitle h1 {
  padding: 0;
  font-weight: 600;
  margin-bottom: 0;
}

.serviceTitle p {
  color: #74787c;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 65%;
  margin: auto;
  text-align: center;
  padding: 0;
}

#service .cardService-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.cardService-wrapper .serviceCard {
  height: 380px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 20px;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
}

.serviceCard:hover {
  margin-top: -2%;
  border: 1px solid #ec6e31;
}

.serviceCard .serviceCard-body {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.serviceCard svg {
  width: 70px;
  height: 70px;
  color: #ec6e31;
  margin-bottom: 5px;
}

.serviceCard h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.serviceCard p {
  color: gray;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
}

/* About Section */
#about {
  min-height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.about-image img {
  max-width: 500px;
  width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 20px;
}

.about-content h1 {
  color: #021525;
  font-weight: 600;
}

.about-content .desc {
  font-size: 1rem;
  color: #74787c;
  line-height: 30px;
}

.about-content a {
  font-size: 14px;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 50px;
  background: #ec6e31;
  color: #fff;
  transition: 1s ease;
  border: 1px solid #ec6e31;
}

.about-content a:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  transition: all 0.3s ease-in-out;
}

/* Offer Section */

#offer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  min-height: 100vh;
}

/* Product Section */
/* #product {
  min-height: 100vh;
  display: flex;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}

.btn-product a {
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.1rem;
  color: salmon;
  margin-top: -20px;
  position: relative;
}

.btn-product a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.btn-product:hover a {
  padding-right: 15px;
}

.btn-product:hover a:after {
  opacity: 1;
  right: 0;
}

.productCard-wrapper {
  height: 550px;
  padding: 0 0 60px;
  position: relative;
}

.product-card {
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  max-height: 700px;
  height: 100%;
  object-fit: cover;
}

.product-desc {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
} */

/* Testimonial */
#testimonial {
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

.testiTitle h1 {
  margin: 0;
  font-weight: 600;
}

.testiTitle p {
  margin: 0;
  color: gray;
  font-size: 1rem;
}

.mySwiper {
  height: 100%;
  width: 100%;
  padding: 40px 0 70px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

.testi-card {
  height: 100%;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
  padding-top: 40px;
  background: #fff;
}

.testi-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
  position: absolute;
  top: -35px;
}

.testi-card svg {
  color: salmon;
  padding: 10px;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.testi-card h5 {
  margin: 0;
}

.testi-card .comment {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

.profile-desc p {
  margin: 0;
  font-size: 14px;
  color: gray;
}

/* Responsive */

@media screen and (max-width: 1075px) {
  .contactWrapper {
    justify-content: start;
  }
}

@media screen and (max-width: 992px) {
  .hero-content h1 {
    font-size: 2.7rem;
    width: 100%;
  }

  .hero-content p {
    font-size: 1rem;
    width: 90%;
  }

  #contact .container {
    padding: 20px;
  }

  .contactWrapper {
    padding: 0 20px;
  }

  .contactWrapper svg {
    width: 35px;
    height: 35px;
  }

  .about-image img {
    height: 500px;
  }

  .cardService-wrapper .serviceCard {
    height: 330px;
  }

  .serviceCard svg {
    width: 60px;
    height: 60px;
  }

  .serviceTitle p {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #contact,
  #services,
  #about,
  #offer,
  #testimonial {
    padding: 30px 0 30px 0;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .hero-content p {
    font-size: 14px;
    width: 100%;
  }

  #contact .container {
    padding: 20px;
    margin-top: 0;
  }

  .contactWrapper svg {
    width: 30px;
    height: 30px;
  }

  .cardService-wrapper .serviceCard {
    height: 300px;
    padding: 20px;
  }

  .serviceCard svg {
    width: 50px;
    height: 50px;
  }

  .serviceCard h4 {
    font-size: 1.3rem;
  }

  .serviceCard p {
    font-size: 14px;
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  #hero,
  #contact,
  #service,
  #about,
  #offer,
  #testimonial {
    padding: 25px 10px;
  }

  #hero {
    min-height: 100vh;
  }

  #contact .container {
    width: 90%;
    row-gap: 30px;
    padding: 20px;
  }

  .serviceTitle p {
    font-size: 13px;
    width: 100%;
    line-height: 25px;
  }

  .serviceCard svg {
    width: 50px;
    height: 50px;
  }

  .serviceCard h4 {
    font-size: 1.3rem;
  }

  .serviceCard p {
    font-size: 13px;
    width: 100%;
  }

  /* Testi */

  .testiCard-wrapper {
    width: 100%;
  }

  .testiTitle h1 {
    font-size: 1.7rem;
  }

  .testiTitle p {
    font-size: 12px;
  }

  .swiper-slide {
    height: 350px;
  }

  .testi-card {
    padding: 15px 10px;
  }

  .testi-card img {
    width: 70px;
    height: 70px;
  }

  .testi-card svg {
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }

  .testi-card .comment {
    font-size: 13px;
    line-height: 25px;
  }

  .testi-card h5 {
    font-size: 15px;
  }

  #testimonial .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .about-content .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 12px;
    line-height: 20px;
  }

  .hero-content a:nth-child(1) {
    font-size: 12px;
    padding: 10px 20px;
  }
  
  .hero-content a:nth-child(2) {
    font-size: 12px;
    gap: 5px;
  }

  /* Contact */

  #contact .container {
    width: 95%;
    padding: 15px;
  }

  .contactWrapper {
    padding: 0 10px;
  }

  .contactWrapper svg {
    width: 25px;
    height: 25px;
  }

  .contactWrapper p {
    font-size: 14px;
  }

  /* About */
  .about-image img {
    height: 350px;
  }

  .about-content .desc {
    font-size: 12px;
    line-height: 25px;
  }

  .about-content a {
    padding: 10px 20px;
    font-size: 12px;
  }

  /* Service */

  .serviceTitle p {
    font-size: 12px;
    width: 100%;
    line-height: 20px;
  }

  .serviceCard svg {
    width: 65px;
    height: 65px;
  }

  .serviceCard p {
    font-size: 12px;
    width: 100%;
  }

  /* testi */

  .testiTitle h1 {
    font-size: 1.7rem;
  }

  .testiTitle p {
    font-size: 12px;
  }

  .swiper-slide {
    height: 340px;
  }

  .testi-card {
    padding: 10px;
  }

  .testi-card img {
    width: 70px;
    height: 70px;
  }

  .testi-card svg {
    margin-top: 25px;
  }

  .testi-card .comment {
    font-size: 12px;
    line-height: 25px;
  }

  .profile-desc p {
    margin: 0;
    font-size: 12px;
    color: gray;
  }
}
