.commonSection-product {
  min-height: 55vh;
  position: relative;
}

.commonTitle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Card Product */
.product {
  min-height: 150vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dropdown .dropdown-toggle {
  background: #ec6e31;
  padding: 10px 15px;
}

.dropdown button {
  font-size: 1rem;
}

.dropdown-toggle button {
  width: 100%;
  padding: 10px 15px;
  z-index: 1;
}

.dropdown .dropdown-toggle::after {
  margin-left: 12px;
}

.btn-category {
  width: 150px;
  border-radius: 5px;
  padding: 10px;
}

.dropdown .dropdown-menu.show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 5px;
  place-items: center;
  width: 340px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-active {
  background: #ec6e31;
  color: #fff;
}

.product .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.wrapper .card-product {
  width: 100%;
  height: 380px;
  padding: 0;
  background: #fff;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border: 1px solid #dedede;
  border-bottom: none;
}

.productImg img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
  margin-bottom: 60px;
}

.card-product:hover .productImg img {
  scale: 105%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%);
  width: 101%;
  min-height: 80px;
  z-index: 1;
  border-radius: 15px;
  background: #fff;
  box-shadow: inset 5px -5px 14px #dedede, inset -5px 5px 14px #ffffff;
  border: 1px solid #dedede;
  padding: 10px;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
}

.cardBody h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.cardBody p {
  display: flex;
  align-items: center;
  margin: 0;
  color: gray;
  font-size: 13px;
}

.cardBody p span {
  background: #ec6e31;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
}

.cardBody button {
  float: right;
  background: transparent;
  color: salmon;
  font-size: 13px;
  font-weight: 400;
  padding: 0 5px;
}

.btn-load button {
  padding: 10px 30px;
  border-radius: 50px;
  margin-bottom: 30px;
  background: #ec6e31;
  color: #fff;
}

/* Responsive */

@media screen and (max-width: 1075px) {
  .product .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
  }

  .wrapper .card {
    height: 350px;
    border-radius: 10px;
  }

  .productImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
  }

  .cardBody {
    padding: 8px;
  }

  .cardBody h5 {
    font-size: 15px;
  }

  .cardBody button {
    font-size: 10px;
  }
}

@media screen and (max-width: 992px) {
  .commonTitle p {
    width: 100%;
  }

  .productImg img {
    margin-bottom: 60px;
  }
  
  .cardBody button {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .commonTitle p {
    width: 100%;
  }

  .category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
  }

  .wrapper .card-product {
    height: 300px;
    border-radius: 10px;
  }

  .productImg img {
    width: 100%;
    max-height: 180px;
    height: 100%;
    margin-bottom: 50px;
  }

  .cardBody {
    min-height: 80px;
    padding: 8px;
    border-radius: 10px 10px;
  }

  .cardBody p, .cardBody button {
    font-size: 12px;
  }

  .cardBody p span {
    padding: 2px 5px;
  }

  .cardBody h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .commonSection-product {
    min-height: 40vh;
  }

  .product {
    padding: 30px 10px;
  }

  .product .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 12px;
  }

  .wrapper .card-product {
    height: 250px;
    border-radius: 10px;
  }

  .productImg img {
    height: 130px;
    margin-bottom: 50px;
  }

  .cardBody {
    padding: 5px 10px;
  }

  .cardBody h5 {
    font-size: 13px;
    line-height: 15px;
  }

  .cardBody p {
    font-size: 12px;
  }

  .cardBody button {
    font-size: 12px;
  }
}

@media screen and (max-width: 378px) {
  .product {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .dropdown button {
    font-size: 12px;
  }

  .btn-category {
    width: 120px;
    padding: 8px;
  }

  .dropdown .dropdown-menu.show {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 0px;
    width: 280px;
    padding: 10px 0;
  }

  .product .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 8px;
  }

  .wrapper .card-product {
    height: 200px;
    border-radius: 10px;
  }

  .productImg img {
    max-height: 110px;
    height: 100%;
    margin-bottom: 40px;
  }

  .cardBody {
    min-height: 40px;
    padding: 5px;
    border-radius: 10px;
  }

  .cardBody h5 {
    font-size: 10px;
    line-height: 15px;
  }

  .cardBody p span {
    padding: 1px 4px;
  }

  .cardBody p,
  .cardBody button {
    font-size: 8px;
  }
}
