@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* 
Main color = #fff
Secondary Color = #EC6E31
Text Color = #021525, #F9F7F3
button Color = #EC6E31
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration:  none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}
